@use '/src/styles/styles.scss' as *;

.LandingPage_container {
    position: relative;

    .top_content {
        position: sticky;
        top: 0;
        background-color: #fff;

        .searchbar_section {
            margin: 0 1.5rem;
            padding: 1rem 0;
        }

        .selectionbar_section {
        }
    }

    .cards_section {
        margin: 0 1.5rem;
        padding-top: 1rem;
    }

    .bottom_content {
        position: fixed;
        bottom: 0;
        border: 1px solid purple;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .map_btn {
            border: 1px solid blue;
            width: 88px;
            padding-bottom: 1rem;
            // position: fixed;
            // bottom: 0;
            // left: 50%;
            // transform: translate(-50%, -50%);
        }

        .test {
            // position: fixed;
            // bottom: 0;
            border: 1px solid red;
            width: 100vw;
            height: 50px;
        }
    }
}
