.LandingPage_container {
    position: relative;

    .top_content {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 2;

        .searchbar_section {
            margin: 0 1.5rem;
            padding: 1rem 0;
        }
    }

    .cards_section {
        margin: 0 1.5rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .map_btn {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        width: 88px;
    }
}

.hidden {
    visibility: hidden;
}
