.LandingPage_container {
    position: relative;

    .top_content {
        position: sticky;
        top: 0;
        background-color: #fff;

        .searchbar_section {
            margin: 0 1.5rem;
            padding: 1rem 0;
        }

        .selectionbar_section {
        }
    }

    .cards_section {
        margin: 0 1.5rem;
        padding-top: 1rem;
    }

    .bottom_content {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .map_btn {
            width: 88px;
            padding-bottom: 1rem;
        }

        .bottom_bar {
            width: 100vw;
            visibility: hidden;
            z-index: -999;
        }
    }
}
