@mixin flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin flex-space-evenly($text-align) {
    text-align: $text-align;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@mixin flex-justify($justify-content) {
    display: flex;
    justify-content: $justify-content;
}

@mixin display-svg-icon($url, $color, $width, $height) {
    mask: url('/assets/icons/' + $url) no-repeat center;
    mask-size: $width $height;
    background-color: $color !important;
    width: $width;
    height: $height;
}

@mixin flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}
