@import '/src/styles/colors.scss';

.Modal_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    --modal-height: var(--modal-height);
    z-index: 999;

    .backdrop {
        background-color: $darkgray;
        opacity: 0.5;
        height: calc(100vh - var(--modal-height));
    }

    .content {
        background-color: aqua;
        height: var(--modal-height);
    }
}

.modal_invisible {
    display: none;
}

.modal_open {
    top: 0;
    opacity: 1;

    animation: slide-in 0.25s ease-in-out;
}

.modal_close {
    top: 100vh;
    opacity: 0;

    animation: slide-out 0.125s ease-in-out;
}

@keyframes slide-in {
    0% {
        top: 100vh;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 0;
    }
}
